.btn {
  @apply no-drag text-xxs relative flex cursor-default items-center justify-center gap-1 rounded-md px-3 py-1 leading-none font-normal transition duration-100 ease-in-out;

  &:focus {
    @apply outline-none;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.btn-large,
.btn-icon {
  @apply h-8;
}

.btn-icon {
  @apply w-10 p-0;

  &:active {
    @apply scale-95;
  }

  & svg {
    @apply text-gray-600 group-active:text-gray-900 dark:text-white/50 dark:group-active:text-white;
  }
}

.btn-default {
  @apply bg-control shadow-3d active:bg-primary active:shadow-3d-active text-black active:text-white disabled:active:bg-white/10 dark:text-white;
}

.btn-primary {
  @apply bg-primary shadow-3d-active active:bg-primary-dark text-white;
}

.btn-transparent {
  @apply bg-transparent text-black/70 hover:bg-black/5 active:bg-black/10 active:text-black/50 dark:text-white/70 dark:hover:bg-white/10 dark:active:bg-white/20 dark:active:text-white/50;
}
