@utility btn {
  @apply no-drag relative flex cursor-default items-center justify-center gap-1 rounded-md px-3 pt-[2px] pb-[3px] leading-4 font-normal;

  &:focus {
    @apply outline-none;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.btn-large {
  @apply h-7;
}

.btn-icon {
  @apply h-7 w-9 p-0;

  &.btn-default svg {
    @apply text-neutral-600 dark:text-white;
  }

  & svg {
    @apply text-neutral-500 group-active/button:text-neutral-900 dark:text-white/50 dark:group-active/button:text-white;
  }
}

/* We need to use a utility class here because we need to apply the same class to the select element */
@utility btn-default {
  @apply shadow-border dark:shadow-inset bg-white bg-gradient-to-t from-neutral-50 to-white text-black active:from-neutral-200 active:to-neutral-200 dark:from-neutral-500 dark:to-neutral-500 dark:text-white dark:active:from-neutral-500/90 dark:active:to-neutral-500/90;
}

.btn-accent {
  @apply shadow-bottom dark:shadow-inset bg-black bg-gradient-to-t text-white dark:bg-white;

  & svg,
  &:active svg {
    @apply text-white;
  }
}

.btn-transparent {
  @apply btn-transparent-active bg-transparent text-black/70 dark:text-white/70;
}

@utility btn-transparent-default {
  @apply text-black/70 active:bg-black/10 active:text-black dark:text-white/70 dark:active:bg-white/20 dark:active:text-white;
}

@utility btn-transparent-active {
  @apply bg-black/5 hover:bg-black/5 active:bg-black/10 active:text-black dark:bg-white/10 dark:active:bg-white/20 dark:active:text-white;
}

@source inline("btn-transparent-default");
@source inline("btn-transparent-active");

/* Dynamic color variants */
@utility btn-primary {
  @apply from-primary-600 to-primary-500 active:to-primary-500/90 active:from-primary-600/90;
}

@utility btn-blue {
  @apply from-blue-600 to-blue-500 active:from-blue-600/90 active:to-blue-500/90;
}

@utility btn-red {
  @apply from-red-600 to-red-500 active:from-red-600/90 active:to-red-500/90;
}

@utility btn-green {
  @apply from-green-600 to-green-500 active:from-green-600/90 active:to-green-500/90;
}

@utility btn-purple {
  @apply from-purple-600 to-purple-500 active:from-purple-600/90 active:to-purple-500/90;
}

@utility btn-yellow {
  @apply from-yellow-600 to-yellow-500 active:from-yellow-600/90 active:to-yellow-500/90;
}

@utility btn-orange {
  @apply from-orange-600 to-orange-500 active:from-orange-600/90 active:to-orange-500/90;
}

@utility btn-sky {
  @apply from-sky-600 to-sky-500 active:from-sky-600/90 active:to-sky-500/90;
}

@utility btn-pink {
  @apply from-pink-600 to-pink-500 active:from-pink-600/90 active:to-pink-500/90;
}

@utility btn-lime {
  @apply from-lime-600 to-lime-500 active:from-lime-600/90 active:to-lime-500/90;
}

@utility btn-amber {
  @apply from-amber-600 to-amber-500 active:from-amber-600/90 active:to-amber-500/90;
}

@utility btn-emerald {
  @apply from-emerald-600 to-emerald-500 active:from-emerald-600/90 active:to-emerald-500/90;
}

@utility btn-fuchsia {
  @apply from-fuchsia-600 to-fuchsia-500 active:from-fuchsia-600/90 active:to-fuchsia-500/90;
}

@utility btn-rose {
  @apply from-rose-600 to-rose-500 active:from-rose-600/90 active:to-rose-500/90;
}

@utility btn-cyan {
  @apply from-cyan-600 to-cyan-500 active:from-cyan-600/90 active:to-cyan-500/90;
}

@utility btn-teal {
  @apply from-teal-600 to-teal-500 active:from-teal-600/90 active:to-teal-500/90;
}

@utility btn-violet {
  @apply from-violet-600 to-violet-500 active:from-violet-600/90 active:to-violet-500/90;
}

@utility btn-indigo {
  @apply from-indigo-600 to-indigo-500 active:from-indigo-600/90 active:to-indigo-500/90;
}

@utility btn-neutral {
  @apply from-neutral-500 to-neutral-400 active:from-neutral-600/90 active:to-neutral-500/90;
}

@source inline("{data-[state=checked]:,}btn-primary");
@source inline("{data-[state=checked]:,}btn-blue");
@source inline("{data-[state=checked]:,}btn-red");
@source inline("{data-[state=checked]:,}btn-green");
@source inline("{data-[state=checked]:,}btn-purple");
@source inline("{data-[state=checked]:,}btn-yellow");
@source inline("{data-[state=checked]:,}btn-orange");
@source inline("{data-[state=checked]:,}btn-sky");
@source inline("{data-[state=checked]:,}btn-pink");
@source inline("{data-[state=checked]:,}btn-lime");
@source inline("{data-[state=checked]:,}btn-amber");
@source inline("{data-[state=checked]:,}btn-emerald");
@source inline("{data-[state=checked]:,}btn-fuchsia");
@source inline("{data-[state=checked]:,}btn-rose");
@source inline("{data-[state=checked]:,}btn-cyan");
@source inline("{data-[state=checked]:,}btn-teal");
@source inline("{data-[state=checked]:,}btn-violet");
@source inline("{data-[state=checked]:,}btn-indigo");
@source inline("{data-[state=checked]:,}btn-neutral");
